<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/css/bootstrap.css' />
     <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/js/script.js"></script>
    <script src="/javascripts/js/bootstrap.js"></script>
  </body>
</html>
